{% extends 'blog/base.html'%}
{% load static %}
{% block content%}

<div class="col-sm-10">
    <h3 class="text-white my-5">About</h3>
    <p>Hello everyone this blog is simply i have to design to check our skills ,and check that i am able to built it or not in this blog i am post some coding problems related to Python,web development and some other languages</p>
    <p>CONTACT :if you any queries then you can contact me for sending a message through mail </p>
    <p>my email is VAIBHAVSINGH1544@GMAIL.COM</p>
    
    
</div>
{% endblock content%}