{% extends 'blog/base.html'%}
{% load static %}
{% block content%}

<div class="col-sm-10">
    <h3 class="text-white my-5"><center>LOGIN SUCCESSFULL</center></h3>
    <a href="{% url 'add' %}" class="btn btn-primary  btn-lg active" role="button" aria-pressed="true">Add Memory</a>
     <a href="{% url 'logout' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">logout</a>
    <br>
    {% for i in m%}
    <div class="jumbotron jumbotron-fluid bg-dark">
  <div class="container">
    <h1 class="display-4 font-weight-bold">{{i.date}}</h1>
    <p class="lead">{{i.content}}</p>
  </div>
</div>
    {% endfor %}
    
    

{% endblock content%}